*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  transition: color 300ms, transform 300ms;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: flex;
}

/* Code Begins */

:root {
  --CLR-main-bg: #fefefe;
  --CLR-secondary-bg: #ededed;
  --CLR-primary: #013552;
  --CLR-accent: #dc7f17;
  --CLR-copy: #40474b;
  --CLR-dark: #2a2f31;
  --FONT: 'Montserrat', sans-serif;
  --FONT-copy: 16px;
  --SPACE-margins-mobile: 700px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--CLR-main-bg);
  font-family: var(--FONT);
  font-size: var(--FONT-copy);
  line-height: 1.4;
  color: var(--CLR-copy);
}
h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
}

h2,
h3 {
  color: var(--CLR-primary);
  line-height: 1.2;
  margin-bottom: 0.6em;
}

h3 {
  margin-bottom: 0.5em;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 0.875rem;
  color: var(--CLR-accent);
  text-transform: uppercase;
  margin-bottom: 0.3em;
}

p {
  margin-bottom: 0.5em;
  line-height: 1.5;
}

.strong {
  font-weight: 700;
}

hr {
  color: var(--CLR-main-bg);
  opacity: 0.3;
  margin: 2rem 0;
}

.flex {
  display: flex;
  align-items: center;
}

.flex--sb {
  justify-content: space-between;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 80px 8% 0;
}

.container--center {
  text-align: center;
}

@media (min-width: 810px) {
  .container {
    padding: 150px 10vw 0;
  }
}

@media (min-width: 1450px) {
  .container {
    padding: 150px 147.5px 0;
  }
}

/* N A V I G A T I O N
    N A V I G A T I O N
     N A V I G A T I O N 
*/

.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  z-index: 100;
  padding: 0 2em;
  background-color: var(--CLR-main-bg);

  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-open.show,
.nav-close.show {
  display: inline-block;
}

.nav {
  display: none;
}

.nav.show {
  display: block;
}

.nav-close {
  margin-right: 8px;
}

.nav-open,
.nav-close {
  display: none;
  transition: transform 0.25s ease-in-out;
}

.nav-open:hover {
  transform: scale(1.07);
}

.nav-close:hover {
  transform: scale(1.1);
}

.nav-logo {
  height: 30px;
  transform: translateY(2px);
}

.nav-link--logo {
  display: flex;
  align-items: center;
}

.nav ul {
  list-style: none;
  padding: 0;
}

.nav-list {
  display: flex;
}

.nav-list li + li {
  padding-left: 1.5em;
}

.nav-link {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--CLR-copy);

  position: relative;
  transition: color 0.25s;
}

.nav-link:hover {
  color: var(--CLR-accent);
}

.nav-link.active {
  font-weight: 700;
  color: var(--CLR-primary);
}
.nav-link.active::before {
  display: block;
  content: '';
  background: var(--CLR-primary);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

  position: absolute;
  top: -130%;
  right: -5px;
  left: -5px;
  height: 6px;
}

nav-link--logo.active::before {
  display: none;
}

@media (max-width: 770px) {
  .nav-open,
  .nav-close {
    height: 20px;
    cursor: pointer;
  }

  .nav {
    z-index: 50;

    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    height: auto;
    background-color: var(--CLR-main-bg);
    border-top: 1px solid var(--CLR-secondary-bg);
    border-bottom: 1px solid var(--CLR-secondary-bg);

    box-shadow: 0px 15px 10px -5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 15px 10px -5px rgba(0, 0, 0, 0.1);
  }

  .nav-list {
    flex-direction: column;
  }

  .nav-list li + li {
    padding: initial;
    margin-top: 0.5em;
  }

  .nav-list li {
    text-align: center;
  }

  .nav-link:not(.nav-link--logo) {
    display: block;
    padding: 1em;
    text-align: center;
    font-size: 1rem;
  }

  .nav-link.active {
    background-color: var(--CLR-secondary-bg);
  }

  .nav-link.active::before {
    display: none;
  }
}

/* E N D E
*/

.header {
  width: 100%;
  height: 80vh;
  min-height: 600px;
  background-image: url(img/assets/header.jpg);
  background-position: bottom left 30%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.hero {
  margin-top: 64px;
  margin-left: 5vw;
  max-width: calc(300px);
  color: var(--CLR-primary);
}

.hero h1 {
  margin-top: 0.25em;
  margin-bottom: 0.5em;
  font-size: 2.5rem;
  line-height: 1.2;
}

.hero p {
  font-size: 1.3rem;
  color: var(--CLR-dark);
}

@media (min-width: 800px) {
  .hero {
    max-width: 370px;
  }
}

@media (min-width: 1000px) {
  .hero {
    max-width: 440px;
  }
  .hero h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1400px) {
  .hero {
    margin-left: 7vw;
  }
}

.intro {
  padding-top: 20px;
}

.intro {
  max-width: none;
}

.intro__img {
  margin-top: 1em;
  margin-left: -8vw;
  margin-right: 4em;
  opacity: 0.4;
  width: 110%;
  max-width: 1100px;
}

.intro__content,
.intro__summary,
.process__content,
.about__intro {
  margin-left: auto;
  margin-right: auto;
  max-width: 626px;
}

.intro__summary {
  margin: 2em auto 0;
}

.intro__summary .strong {
  color: var(--CLR-primary);
  font-size: 1.25rem;
}

@media (min-width: 810px) {
  .intro__img {
    margin-left: -10vw;
  }
}

@media (min-width: 1000px) {
  .intro__flex {
    display: flex;
    align-items: center;
  }

  .intro__img {
    width: auto;
  }

  .intro__summary {
    margin-top: 0;
    max-width: 420px;
    min-width: 348px;
  }

  .benefits {
    padding-top: 100px;
  }
}

.benefits__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-items: center;
  gap: 2em 1.5em;
  max-width: 940px;
  margin: 0 auto;
}

.benefits__title {
  grid-column: 1 / -1;
  max-width: 440px;
  margin-right: auto;
}

.benefits__title h2 {
  margin-bottom: 0.5em;
}

.benefit {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  max-width: 259px;
}

.benefits__grid img {
  margin-bottom: 0.5em;
  height: 70px;
}

@media (min-width: 1090px) {
  .benefits__title {
    grid-column: span 2;
    max-width: 440px;
    margin-right: auto;
  }
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-column-gap: 1.5em;
  row-gap: 3em;
  width: 100%;
  margin-top: 75px;
}

.grid-item {
  min-width: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.grid-item > img {
  filter: saturate(0);
  opacity: 0.15;
  cursor: pointer;
  max-width: 260px;
  transition: 300ms;
}

.grid-item:nth-of-type(5) img {
  opacity: 0.45;
}

.grid-item:nth-of-type(2) img,
.grid-item:nth-of-type(7) img {
  opacity: 0.2;
}

.grid-item__overlay {
  position: absolute;
  background: var(--CLR-main-bg);
  top: calc(0px - 2rem);

  padding: 2rem;
  border-radius: 1em;
  box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.07);
  z-index: 10;

  text-align: center;

  opacity: 0;
  overflow: hidden;
  min-width: 100%;

  transition: opacity 500ms;

  box-sizing: content-box;
}

.grid-item:hover .grid-item__overlay {
  opacity: 1;
  height: auto;
}

.grid-item__overlay p {
  margin: 0 auto;
  max-width: 300px;
}

.grid-item__overlay img {
  max-width: 260px;
  margin-left: auto;
  margin-right: auto;
  transition: opacity 500ms, filter 500ms;
}

.grid-item:hover .grid-item__overlay img {
  filter: saturate(1);
  opacity: 1 !important;
}

.container-sticky .flex {
  justify-content: space-between;
}

.container-sticky--order {
  display: flex;
  flex-direction: column;
}

.container-sticky--order .scroll {
  order: 2;
}

.service {
  margin: 3em 0;
}

.service:last-of-type {
  margin-bottom: 30px;
}

#methods p {
  max-width: 430px;
  margin-right: auto;
}

#methods h2 {
  max-width: 550px;
}

.method__img_container {
  min-width: 70px;
  margin-right: 1.5em;
}

.method__img_container--first {
  padding: 0 5px 0 12px;
}

.service ul {
  margin-top: 0;
  padding-left: 1.1em;
  padding-right: 1em;
}

.service ul li + li {
  margin-top: 0.5rem;
}

.service_img {
  height: 70px;
  width: auto;
  margin-right: 1em;
}

.extra-right {
  height: 60px;
}

@media (min-width: 800px) {
  .container-sticky {
    display: flex;
    justify-content: space-between;
  }

  .container-sticky--order {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 12em;
  }

  .container-sticky--order .scroll {
    order: initial;
  }

  .sticky {
    -webkit-position: sticky;
    position: sticky;
    top: 25vh;
    align-self: flex-start;

    width: 40%;
  }

  .scroll {
    width: 53%;
    padding-left: 7%;
  }

  .scroll--left {
    padding-left: 0;
    padding-right: 7%;
  }

  .service_img {
    margin-right: -1.5em;
  }

  .extra-right {
    margin-right: -2.5em;
  }

  .service:first-of-type {
    margin: 30em 0 0;
  }
}

.process__img {
  margin-top: -16vw;
  opacity: 0.9;
}

.process__content {
  position: relative;
  z-index: 5;
}

.process__img--destkop {
  display: none;
}

@media (min-width: 1200px) {
  .process {
    display: flex;
    align-items: flex-end;
    margin-top: 120px;
  }

  .process__img--destkop {
    display: block;
  }
  .process__img--mobile {
    display: none;
  }

  .process__container {
    margin-right: 3rem;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 100px;
  }

  .process__content {
    min-width: 420px;
  }

  .process__img {
    margin-top: 0;
  }
}

@media (min-width: 1400px) {
  .process__container {
    margin-right: calc(3rem + 1vw);
  }
}

@media (min-width: 1500px) {
  .process {
    margin-top: 2rem;
  }
}

@media (min-width: 16500px) {
  .process {
    margin-top: 0;
  }
}

.about_grid {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.ul--bullets {
  padding-left: 2rem;
}

.ul--bullets li + li {
  margin-top: 0.375rem;
}

.li--contact {
  display: flex;
  align-items: center;
}

.contact_img_container {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.centerit {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.centerit + .centerit {
  margin-top: 70px;
}

@media (min-width: 770px) {
  .centerit {
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }

  .centerit + .centerit {
    margin-top: 150px;
  }
}

.about_container {
  grid-column: 1 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_person {
  padding: 0 0 1.5em;
}

.about_container--quali {
  margin-top: 2em;
  justify-self: left;
}

.about_container--quali h3:nth-of-type(2) {
  margin-top: 1em;
}

.about_container--quali ul:nth-of-type(2) {
  padding: 0;
}

.about_image-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 770px) {
  .about_grid {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    max-width: 900px;
  }

  .about_container {
    grid-column: auto;
  }

  .about_person {
    padding: 0 10% 1em 7%;
  }

  .about_container--quali {
    margin-top: 0;
    justify-self: auto;
  }

  .about_container--quali > div {
    padding-left: 1em;
  }
}

.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7em 3em;
  margin-top: 80px;
  background: var(--CLR-primary);
}

.quote--nomargin {
  margin-top: 0px;
}

@media (min-width: 770px) {
  .quote {
    margin-top: 150px;
  }
}

.quote--nomargin {
  margin-top: 0px;
}

.quote_container {
  max-width: 60ch;
}

quote {
  display: block;
  color: var(--CLR-secondary-bg);
  opacity: 0.85;

  font-size: 1.25rem;
  font-style: italic;
}

cite {
  display: block;
  color: var(--CLR-secondary-bg);
  opacity: 0.85;
  text-align: right;
}

.form_container {
  background: var(--CLR-secondary-bg);
  margin-top: 80px;
  padding-bottom: 80px;
}

.form_textcontainer {
  max-width: 560px;
}

.form_img {
  padding-left: 4em;
  align-self: flex-start;
}

.form_img img {
  width: 600px;
  max-width: 100%;
  transform: translateY(-50px) translateX(0px);
  transition: transform 1000ms;
}

@media (min-width: 770px) {
  .form_container {
    margin-top: 150px;
    padding-bottom: 150px;
  }
}

@media (max-width: 1200px) {
  .form_img img {
    transform: translateY(-10px) translateX(20px);
  }
}

@media (max-width: 950px) {
  .form_img img {
    display: none;
  }
}

form,
.input_container {
  display: flex;
  flex-direction: column;
}

form {
  flex-grow: 1;
  flex-basis: 420px;
}

form input,
form textarea {
  border: 0;
  border-bottom: 1px solid #40474b50;
  overflow: hidden;
  width: 300px;
  padding: 0.75em 0.5em 0.25em;
  font-family: inherit;
  font-size: inherit;
  background: transparent;
}

form input.error,
form textarea.error {
  border-bottom: 1px solid #ad1818;
}

form textarea {
  width: 100%;
  max-width: 450px;
  resize: none;
  margin-bottom: 2em;
  line-height: inherit;
}

form input:focus,
form textarea:focus {
  outline: none;
  border-bottom: 1px solid var(--CLR-primary);
}

form label {
  transform: translateY(2em);
  transition: transform 0.15s ease, font-size 0.15s ease, padding-top 0.15s ease;
  cursor: text;
}

form label .label__optional {
  font-size: 0.75em;
  margin-left: 1em;
  opacity: 0.6;
}

form .input_container.active label {
  transform: translateY(0.75em);
  font-size: 12px;
  padding-top: 0.5em;
}

form input::placeholder,
form textarea::placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

form .input_container:focus-within input::placeholder,
form .input_container:focus-within textarea::placeholder {
  opacity: 0.6;
}

form button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  border: 0;
  background-color: var(--CLR-accent);
  padding: 1.3em 1.3em;
  border-radius: 4px;
  color: #fff;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.2s;
}

form button:hover,
form button:focus {
  background-color: #f08a17;
}

.button_img {
  margin-left: 1em;
  transform: rotate(0deg);
  height: 16px;
  filter: saturate(0) invert(1) opacity(0.9);
  transition: transform 0.2s;
}

form button:hover .button_img,
form button:focus .button_img {
  transform: rotate(-15deg);
}

@keyframes sending {
  0% {
    transform: translate(0) rotate(0deg);
  }
  15% {
    transform: translate(15px, 0px) rotate(-10deg);
  }
  50% {
    transform: translate(50px, -5px) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translate(100px, 0px);
    opacity: 0;
  }
}

form button.sending .button_img {
  animation: sending 1.5s 150ms ease-in-out infinite;
}

form:not(.success) button .buttom_img--success {
  display: none;
}

form button.success {
  background: #0e8b18;
  color: #f1f1f1;
}

form button.success .buttom_img--success {
  display: flex;
}

form button span,
form button .button_img {
  display: inline-block;
}

form button.success .button_img,
form button.success span {
  display: none;
}

footer {
  background: var(--CLR-primary);
  padding-bottom: 1em;
}

.footer_container {
  color: var(--CLR-secondary-bg);
  font-size: 14px;
  line-height: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4em;
  column-gap: 4em;
  justify-items: center;
}

.footer__list {
  padding: 0;
  list-style: none;
}

.footer__list + .footer__list {
  margin-top: 2em;
}

.footer__list li:first-of-type {
  font-weight: 600;
}

.footer__list li:not(:first-of-type) {
  opacity: 0.7;
  transition: opacity 0.2s, transform 0.2s;
}

.footer__list li:not(:first-of-type):hover {
  opacity: 1;
  transform: translateX(3px);
}

.footer__list--social li:first-of-type {
  margin-bottom: 0.4em;
}

.footer__list--social li:not(:first-of-type) {
  display: inline-block;
  margin-right: 0.2em;
}

.footer__list--social li:not(:first-of-type):hover {
  transform: translateX(0px) scale(1.05);
}

.footer__social {
  height: 28px;
  opacity: 0.5;
}

.footer__site {
  grid-column: span 2;
  justify-self: stretch;
}

.footer__logo {
  width: 100%;
  max-width: 460px;
  opacity: 0.95;
  margin: 1em auto 0;
  padding: 0 2em;
}

.footer__copyright {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  line-height: 1;
  margin-top: 2em;
}

.footer__copyright p {
  text-align: center;
  line-height: 1.3;
  opacity: 0.4;
  transition: opacity 300ms;
}

.footer__copyright p:first-of-type {
  border-right: 1px solid var(--CLR-secondary-bg);
  padding-right: 1em;
  margin-right: 1em;
}

.footer__copyright p:nth-of-type(2):hover {
  cursor: pointer;
  opacity: 1;
}

.footer__copyright p:nth-of-type(2) span {
  transition: color 1500ms;
}

.footer__copyright p:nth-of-type(2):hover span {
  color: var(--CLR-accent);
}

@media (min-width: 800px) {
  .footer_container {
    grid-template-columns: repeat(2, 1fr) 40%;
    justify-items: auto;
  }
  .footer__site {
    grid-column: auto;
  }
  .footer__logo {
    margin: 0;
    padding: 0;
  }
}

/* Impressum / Impressum / Impressum */
.container--secondary-pages {
  padding-top: 100px;
}

.impressum,
.datenschutz {
  width: auto;
  max-width: 700px;
  margin: 0 auto 150px;
}

.impressum h2,
.datenschutz h2 {
  margin-bottom: 0.3em;
  margin-top: 1.5em;
}

.impressum p,
.datenschutz p {
  margin-bottom: 1.5em;
}

.impressum .small,
.datenschutz .small {
  font-size: 0.75rem;
  opacity: 0.5;
}

@media (max-width: 600px) {
  .impressum h2,
  .datenschutz h2 {
    font-size: 1.75rem;
  }

  .impressum h3,
  .datenschutz h3 {
    font-size: 1.275rem;
  }
}
